@import '../../../styles/color';
@import '../../../styles/responsive';

.dialogBodyClass {
  position: relative;
  padding: 30px 40px 44px!important;
  font-family: 'Montserrat' !important;

  p {
    color: $black400;
    font-weight: 500;
  }
}

.dialogHeaderStyle {
  padding: 18px !important;
  font-size: 22px !important;
  font-family: 'Montserrat' !important;
  background: $grey300;
}

.buttonContainer {
  margin-top: 30px;
  text-align: center;

  .leftButton {
    text-transform: uppercase;
    font-size: 14px;
    label, button {
      background-color: $greyDark600 !important;
      span {
        color: $white !important;
        font-weight: 400;
      }
    }
  }

  .rightButton {
    margin-left: 16px;
    font-size: 14px;
    label, button {
      background-image: linear-gradient(to right, $orange100, $orange200) !important;
    }
    span {
      color: $white !important;
    }
  }
}

@media (max-width: $breakpointLarge) {
  .dialogContentClass {
    width: 90% !important;
  }
}

@media (max-width: $breakpointSmall) {

  .buttonContainer {
    .rightButton {
      display: block !important;
      margin-left: 0;
    }
    .leftButton {
      display: block !important;
      margin-bottom: 20px;
    }
  }

}
